#search-input.input{
  width: 40%;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  left: 25%;
}

#i-want-to {
  padding: 5%;
}

/* #suggester {
  justify-self: center;
  width: 50%;
  left: 25%;
} */


.venue-card-image {
  max-height: 260px;
  max-width: 350px;
}

#venue-show-image {
  padding-left: 10%;
  max-height: 560px;
  max-width: 750px;
}

.random-bg[data-v-55463a24] {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 30rem;
}
#suggester {
  background-position: 60%, 40%;
  background-size: cover;
  height: 30rem;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(https://i.pinimg.com/originals/1f/36/9f/1f369fa61a8db31f0795e03daae7f09b.jpg);
}