/* #search-input.input{
  width: 40%;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  left: 25%;
} */

#venue-show-image {
  padding-left: 10%;
  max-height: 560px;
  max-width: 750px;
}

/* .random-bg{
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 30rem;
} */
/* 
#eat-button:hover ~ #image-container {
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(https://cdn.shopify.com/s/files/1/0690/5295/files/dinner_outfits_party_outfit_2048x2048.jpg?687698953360450850);
}
#drink-button:hover ~ #image-container {
  color: white;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://blogs.bmj.com/bmjopen/files/2016/11/alcohol-492871_960_720.jpg);
}
#listen-button:hover ~ #image-container {
  color: white;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://media2.giphy.com/media/13ekKst01ih7Vu/source.gif);
} */
/* #watch-button:hover ~ #image-container{
  color: white;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://www.cityofchicago.org/content/dam/city/depts/dca/Millennium%20Park/mpfilmseries650.jpg);
} */

/* #image-container {
  width: 100%;
  position: absolute;
  top: 20%;
  padding: 10%;
} */

.is-3 .has-text-black {
  margin: 20%;
  text-align: center;
  font-size: 2em;
  /* position: absolute; */
}

#cards-container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-evenly;
}

.card .venue-card {
  width: 400px;
  height: 400px;
}

.card-content {
  width: 400px;
  height: 400px;
}
.card-image img {
  object-fit: contain;
}
.venue-card-image-container img{
  max-height: 240px;
}

.venue-card-image-container {
  justify-content: center;
}

#suggester-container {
  text-align: center;
}

.breadcrumb .navbar-item {
  text-align: right;
}


#search {
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 800px;
}
#search-form {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background: pink;
}

#search-input {
  width: 800px;
}

#color-block {
  color: #25DAB9;
  height: 100%;
  width: 100%;
  position: relative;
}

#background {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  background-color: #25DAB9;
}

#topcontainer {
  text-align: center;
}

#cards-container {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 10px;
}
.b-tooltip {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.b-tooltip.is-top {
  top: auto;
  right: auto;
  bottom: calc(100% + 5px + 2px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.b-tooltip.is-top.is-info,
.b-tooltip.is-top.is-primary {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  bottom: calc(100% + 2px);
}

.b-tooltip.is-primary:hover {
  background: #00d1b2;
  color: #fff;
}


.text-container {
  position: relative;
  color: white;
  overflow: hidden;
}

.text-container img {
  max-width: 100%;
  transition: all .5s cubic-bezier(0, 0, 0, 1.15);
}

.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 0.75rem;
  text-align: left;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.column {
  min-width: 150px;
  max-width: 228px;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
}